<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {#  使用的是Bootstrap4框架，没有下载源码，使用jsDelivr请求静态资源  #}

    {# charset #}
    {% block charset %}
        <meta charset="UTF-8">
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# viewport #}{# Bootstrap 的 CSS 文件 #}
    <link rel="stylesheet" href=".../static/css/bootstrap.min.css">


    {# title #}
    {% block title %}
        <title>默认标题</title>
    {% endblock %}

    {#  可扩展的css文件  #}
    {% block extcss %}
    {% endblock %}
</head>
<body>

    {#  可拓展区块  #}
    {% block head %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block foot %}
    {% endblock %}

    {#  可拓展的js文件  #}
    {% block extjs %}
    {% endblock %}

    {# bootstrap的js文件 #}
    <script src="/APP/static/js/jquery-3.7.1.js"></script>
    <script src="/APP/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>